In [1]:
import numpy as np
import pandas as pd

# Project 1

## Data

I'm using data from two sources. The first is FiveThirtyEight's [Food World Cup](https://fivethirtyeight.com/features/the-fivethirtyeight-international-food-associations-2014-world-cup/). The second is a the World Bank's most popular [World Development Indicators](https://databank.worldbank.org/indicator/NY.GDP.MKTP.CD/1ff4a498/Popular-Indicators).

In [44]:
foodwc = pd.read_csv('data/processed/food-world-cup-data2.csv')
worldbankdata = pd.read_csv('data/processed/world_bank_data.csv')

Looking at the Food World Cup (FWC) data, we see that it indexes on an identifier for respondents to the surveys used by FiveThirtyEight. The other columns are the rating each respondent (Americans  in this case) has for each country's cuisine, and some ancillary data about the respondent's interest in cuisines, income, age, etc.

In [45]:
foodwc.columns

Index(['RespondentID',
       'Generally speaking, how would you rate your level of knowledgeof cuisines from different parts of the world?',
       'How much, if at all, are you interested in cuisines from different parts of the world?',
       'Please rate how much you like the traditional cuisine of Algeria:',
       'Please rate how much you like the traditional cuisine of Argentina.',
       'Please rate how much you like the traditional cuisine ofAustralia.',
       'Please rate how much you like the traditional cuisine of Belgium.',
       'Please rate how much you like the traditional cuisine of Bosnia and Herzegovina.',
       'Please rate how much you like the traditional cuisine of Brazil.',
       'Please rate how much you like the traditional cuisine of Cameroon.',
       'Please rate how much you like the traditional cuisine of Chile.',
       'Please rate how much you like the traditional cuisine of Colombia.',
       'Please rate how much you like the traditional cuisine of Costa Rica.',
       'Please rate how much you like the traditional cuisine of Croatia.',
       'Please rate how much you like the traditional cuisine of Ecuador.',
       'Please rate how much you like the traditional cuisine of England.',
       'Please rate how much you like the traditional cuisine of France.',
       'Please rate how much you like the traditional cuisine of Germany.',
       'Please rate how much you like the traditional cuisine of Ghana.',
       'Please rate how much you like the traditional cuisine of Greece.',
       'Please rate how much you like the traditional cuisine of Honduras.',
       'Please rate how much you like the traditional cuisine of Iran.',
       'Please rate how much you like the traditional cuisine of Italy.',
       'Please rate how much you like the traditional cuisine of Ivory Coast.',
       'Please rate how much you like the traditional cuisine of Japan.',
       'Please rate how much you like the traditional cuisine of Mexico.',
       'Please rate how much you like the traditional cuisine of the Netherlands.',
       'Please rate how much you like the traditional cuisine of Nigeria.',
       'Please rate how much you like the traditional cuisine of Portugal.',
       'Please rate how much you like the traditional cuisine of Russia.',
       'Please rate how much you like the traditional cuisine of South Korea.',
       'Please rate how much you like the traditional cuisine of Spain.',
       'Please rate how much you like the traditional cuisine of Switzerland.',
       'Please rate how much you like the traditional cuisine of United States.',
       'Please rate how much you like the traditional cuisine of Uruguay.',
       'Please rate how much you like the traditional cuisine of China.',
       'Please rate how much you like the traditional cuisine of India.',
       'Please rate how much you like the traditional cuisine of Thailand.',
       'Please rate how much you like the traditional cuisine of Turkey.',
       'Please rate how much you like the traditional cuisine of Cuba.',
       'Please rate how much you like the traditional cuisine of Ethiopia.',
       'Please rate how much you like the traditional cuisine of Vietnam.',
       'Please rate how much you like the traditional cuisine of Ireland.',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

We can see that the countries' rating columns are in the form of a statement. We want to remove the statement to leave us with only the country name. We can also simplify some of the longer column names. We also had some problems with encoding the original data into utf-8 and some spaces are missing in columns 1 and 5, but we can program around this.

In [46]:
prefix = 'Please rate how much you like the traditional cuisine of'
prefix_len = len(prefix)

new_columns = []

for col in foodwc.columns:
    if col.startswith(prefix):
        new_columns.append(col[prefix_len:-1].strip())
    else:
        new_columns.append(col)
        
new_columns

new_columns[1] = 'Cuisine Knowledge'
new_columns[2] = 'Cuisine Interest'
new_columns[-1] = 'Locations'
new_columns[26] = 'Netherlands'

One thing to note is that the World Bank Data refers to 'the Netherlands' as simply 'Netherlands' so we make that change here as well.

In [47]:
foodwc.columns = new_columns

The data from the World Bank is much more complex. The 'Series Name' column names various metrics that we might want. We want to split it into different tables for different metrics indexed on country name. For this initial project we chose GDP and population as the metrics we want to combine with the FWC data and we'll use the year 2014 since that's when the FWC article was released.

In [48]:
worldbankdata.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [49]:
wbd2014 = worldbankdata.loc[:, ['Series Name', 'Country Name', '2014 [YR2014]']]
wbd2014["Series Name"].astype("category").cat.categories

Index(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Births attended by skilled health staff (% of total)',
       'CO2 emissions (metric tons per capita)',
       'Contraceptive prevalence, any methods (% of women ages 15-49)',
       'Data from database: World Development Indicators',
       'Electric power consumption (kWh per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Exports of goods and services (% of GDP)',
       'External debt stocks, total (DOD, current US$)',
       'Fertility rate, total (births per woman)',
       'Foreign direct investment, net (BoP, current US$)',
       'Foreign direct investment, net inflows (BoP, current US$)',
       'Forest area (sq. km)', 'GDP (current US$)', 'GDP growth (annual %)',
       'GDP per capita (current US$)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'GNI, Atlas method (current US$)', 'GNI, PPP (current international $)',
       'Gross capital formation (% of GDP)',
       'High-technology exports (% of manufactured exports)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Imports of goods and services (% of GDP)',
       'Income share held by lowest 20%',
       'Industry (including construction), value added (% of GDP)',
       'Inflation, GDP deflator (annual %)',
       'Inflation, consumer prices (annual %)', 'Last Updated: 08/18/2020',
       'Life expectancy at birth, total (years)',
       'Market capitalization of listed domestic companies (% of GDP)',
       'Merchandise trade (% of GDP)', 'Military expenditure (% of GDP)',
       'Mobile cellular subscriptions (per 100 people)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Net ODA received per capita (current US$)',
       'Net barter terms of trade index (2000 = 100)', 'Net migration',
       'Personal remittances, paid (current US$)',
       'Population growth (annual %)', 'Population, total',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Prevalence of underweight, weight for age (% of children under 5)',
       'Primary completion rate, total (% of relevant age group)',
       'Revenue, excluding grants (% of GDP)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'School enrollment, secondary (% gross)',
       'Start-up procedures to register a business (number)',
       'Surface area (sq. km)', 'Total debt service (% of GNI)',
       'Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)'],
      dtype='object')

In [50]:
wbdgdp = wbd2014[wbd2014['Series Name'] == 'GDP per capita (current US$)'].loc[:, ['Country Name', '2014 [YR2014]']]
wbdpop = wbd2014[wbd2014['Series Name'] == 'Population, total'].loc[:, ['Country Name', '2014 [YR2014]']]

wbdgdp = wbdgdp.set_index('Country Name')
wbdpop = wbdpop.set_index('Country Name')

wbdgdp = wbdgdp.rename(columns={'2014 [YR2014]': 'GDP per Capita'})
wbdpop = wbdpop.rename(columns={'2014 [YR2014]': 'Total Population'})

wbdfinal = pd.merge(wbdgdp, wbdpop, on='Country Name')

So we now have 2 clean tables. To combine them, we take the mean of the ratings in the FWC data and join those to the World Bank metrics. We need to cut some columns from the FWC data to work only with Country Names. We start by looking at which columns there are.

In [51]:
foodwc.columns

Index(['RespondentID', 'Cuisine Knowledge', 'Cuisine Interest', 'Algeria',
       'Argentina', 'Australia', 'Belgium', 'Bosnia and Herzegovina', 'Brazil',
       'Cameroon', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Ecuador',
       'England', 'France', 'Germany', 'Ghana', 'Greece', 'Honduras', 'Iran',
       'Italy', 'Ivory Coast', 'Japan', 'Mexico', 'Netherlands', 'Nigeria',
       'Portugal', 'Russia', 'South Korea', 'Spain', 'Switzerland',
       'United States', 'Uruguay', 'China', 'India', 'Thailand', 'Turkey',
       'Cuba', 'Ethiopia', 'Vietnam', 'Ireland', 'Gender', 'Age',
       'Household Income', 'Education', 'Locations'],
      dtype='object')

We then cut non-country names from the DataFrame and then find the mean before formatting the data so it joins cleanly with the cleaned up World Bank Data.

In [52]:
foodwc2 = foodwc.iloc[:, 3:-5]
foodwc3 = foodwc2.mean()
foodwc4 = pd.DataFrame({'Country Name':foodwc3.index, 'Average Rating':foodwc3.values})

We now have the final table relating the average cuisine rating with the GDP per capita and population of the countries.

In [53]:
final_table = pd.merge(foodwc4, wbdfinal, on='Country Name')
final_table

              Country Name  Average Rating    GDP per Capita Total Population
0                  Algeria        3.333333  5493.02558996263         38923687
1                Argentina        3.558140  12334.7982453893         42669500
2                Australia        3.196429  62510.7911705641         23475686
3                  Belgium        3.543478  47700.5403601178         11209057
4   Bosnia and Herzegovina        3.153846  5329.63504488766          3482104
5                   Brazil        3.644068  12112.5882059697        202763735
6                 Cameroon        3.400000  1542.62026621531         22681858
7                    Chile        3.475000   14670.996760602         17758959
8                 Colombia        3.250000  8114.08406910545         46969209
9               Costa Rica        3.568182  10547.1518593556          4795396
10                 Croatia        3.250000   13600.194390748          4238389
11                 Ecuador        3.444444  6377.09153014217         15951838
12                  France        3.719298  43011.2631028417         66312067
13                 Germany        3.373913  47959.9932737599         80982500
14                   Ghana        3.384615  1971.03334675411         27224472
15                  Greece        3.691589  21760.9797994918         10892413
16                Honduras        3.192308  2206.05193412773          8955589
17                   Italy        4.314961  35518.4152916749         60789140
18                   Japan        3.686957  38109.4121125573        127276000
19                  Mexico        3.992188  10922.3760488647        120355128
20             Netherlands        3.605263  52830.1742328055         16865008
21                 Nigeria        2.888889  3222.69353725587        176404902
22                Portugal        3.386364  22074.3007634216         10401062
23                   Spain        3.737374  29461.5503337389         46480882
24             Switzerland        3.283019  86605.5633762421          8188649
25           United States        3.814815  55047.7255604544        318301008
26                 Uruguay        2.950000  16831.9729440778          3400434
27                   China        3.719008    7678.599431661       1364270000
28                   India        3.359649  1573.88149211052       1295604184
29                Thailand        3.764706  5951.88370233604         68438730
30                  Turkey        3.575000  12095.8545718135         77231907
31                    Cuba        3.454545  7133.34209494342         11306902
32                Ethiopia        3.588235  566.926466461984         98094253
33                 Vietnam        3.456790  2030.26195473318         91714595
34                 Ireland        3.234043   55492.982676213          4657740

From this final table of data, we could look for correlations between Ratings and GDP per capita or population.